html,
body {
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.testimonial-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-section:after {
  content: "";
  position: absolute;
  width: 900px;
  height: 550px;
  background: #f2f2f6;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: -10;
}

.testimonial-section .testimonial-container {
  width: 1280px;
  height: 600px;
  position: relative;
}

.testimonial-section .testimonial-container .arrows {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  bottom: 0;
  top: 0;
  cursor: pointer;
  border-radius: 8px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.testimonial-section .testimonial-container .arrows:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.05);
          box-shadow: 0px 0px 30px rgba(0, 0, 80, 0.05);
}

.testimonial-section .testimonial-container .arrows.right {
  right: 0;
}

.testimonial-section .testimonial-container .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
}

.testimonial-section .testimonial-container .inner .t-image {
  width: 500px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-section .testimonial-container .inner .t-image:after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background: #3f56da;
  left: 140px;
  top: 0;
  border-radius: 100%;
  z-index: -9;
}

.testimonial-section .testimonial-container .inner .t-image ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  height: 460px;
  width: 340px;
  -webkit-box-shadow: 0 0 40px #525252;
          box-shadow: 0 0 40px #525252;
}

.testimonial-section .testimonial-container .inner .t-image ul li {
  position: relative;
  left: -340px;
  height: 460px;
  width: 340px;
}

.testimonial-section .testimonial-container .inner .t-image ul li img {
  height: 460px;
  width: 340px;
}

.testimonial-section .testimonial-container .inner .t-content {
  width: 500px;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-section .testimonial-container .inner .t-content ul {
  position: absolute;
  overflow: hidden;
  width: 500px;
  height: 400px;
}

.testimonial-section .testimonial-container .inner .t-content ul li {
  width: 500px;
  height: 400px;
  color: #2e293c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  opacity: 0;
}

.testimonial-section .testimonial-container .inner .t-content ul li:nth-child(2) {
  opacity: 1;
}

.testimonial-section .testimonial-container .inner .t-content ul li .content-inner {
  width: 500px;
}

.testimonial-section .testimonial-container .inner .t-content ul li .content-inner .quote {
  font-size: 26px;
  letter-spacing: 0.88px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 16px;
}

.testimonial-section .testimonial-container .inner .t-content ul li .content-inner .name {
  font-size: 18px;
  letter-spacing: 0.88px;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #a09da6;
}

.testimonial-section .testimonial-container .inner .t-content ul li .content-inner .title {
  font-size: 18px;
  letter-spacing: 0.88px;
  line-height: 28px;
  margin-bottom: 16px;
  color: #a09da6;
}
/*# sourceMappingURL=App.css.map */